a {
  text-decoration: none;
  color: #333;
}

.App, .App-gece {
  height: 100%;
}

.App {
  
}

.App-gece {
  background-color: black;
  color: white;
}

.App-gece a {
  color: white;
}

nav {
  border-bottom: 2px solid gray;
  background-color: gainsboro;
  padding: 1rem;
  text-align: right;
}

.App-gece nav {
  background-color: #666;
}