.TodoList {
  margin: 1rem auto;
  padding: 1rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  max-width: 400px;
}

.App-gece .TodoList {
  background-color: rgb(74, 79, 107);
  box-shadow: rgba(255, 255, 255, 0.3) 0px 8px 24px;
}

.metin-kutu {
  padding: .5rem;
  border: 1px solid gainsboro;
}

.dugme {
  padding: .5rem;
  border: 1px solid gainsboro;
  cursor: pointer;
}

.liste {
  margin-top: 1rem;
}

.liste-oge {
  display: flex;
  margin: .5rem 0;
  padding: .5rem;
}

.liste-oge:nth-child(odd) {
  background-color: rgba(0, 0, 0, 0.1);
}

.liste-oge:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.3);
}

.App-gece .liste-oge:nth-child(odd) {
  background-color: rgba(255, 255, 255, 0.1);
}

.App-gece .liste-oge:nth-child(even) {
  background-color: rgba(255, 255, 255, 0.3);
}

.liste-durum {
  transform: scale(1.4);
  margin-right: .6rem;
}

.liste-baslik {
  margin-right: auto;
  opacity: .9;
}

.liste-sil {
  display: inline-block;
  opacity: .5;
  transform: scale(1.75);
}

.liste-sil:hover {
  opacity: 1;
}